* {
	box-sizing: border-box;
}

html, body {
  	height: 100%;
  	margin: 0;
  	font-family: monospace, system-ui, sans-serif;
}

body {
	background: radial-gradient(circle at 20% 20%, #e25599 0%, #cc8fff 45%, #7299cd 100%);
  	display: flex;
  	justify-content: center;
	align-items: center;
  	padding: 24px;
}

.calculator {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	border: 2px solid rgba(255, 255, 255, 0.7);
  	border-radius: 38px;
	width: 33vw; 
	max-width: 360px;  
  	min-width: 280px; 
  	height: 100%;
	background: linear-gradient(180deg, #ffa5cf 0%, #cc286f 100%);
  	box-shadow:
  	  rgba(0, 0, 0, 0.45) 0px 24px 40px,
  	  rgba(0, 0, 0, 0.35) 0px 8px 16px;
	padding: 20px;
	gap: 20px;
}

.display-container, .keys {
	display: flex;
}

.display-container {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	background: rgba(255, 255, 255, 0.65);
  	border: 1px solid rgba(255, 182, 193, 0.55);
  	border-radius: 22px;
  	padding: 0 20px;
}

.display-inner {
  	width: 100%;
  	overflow-x: auto;
  	overflow-y: hidden;
  	white-space: nowrap;
  	direction: rtl;
}

.display {
  	font-size: 5rem;
  	font-weight: 500;
	color: #5a2a3c;
	direction: ltr;
  	display: inline-block;
}

.display.error {
	color: #e11d48;
  	font-size: 2rem;
  	white-space: normal;
}

.keys {
	flex: 3;
	flex-direction: column;
	align-items: stretch;   
  	justify-content: stretch;
	gap: 4px;
}

.row {
	display: flex;
	flex: 1;
	gap: 4px;
	width: 100%;
}

.row > button {
  	height: 100%;
  	flex: 1;
}

.row > .third-button {
	flex: 2;
}

button {
	flex: 1;
  	font-size: 2rem;
  	border-radius: 22px;
  	border: 1px solid rgba(255, 182, 193, 0.65);

  	background: #ff81b8;
  	color: #5a2a3c;

  	box-shadow:
 		rgba(255, 105, 180, 0.14) 0px 10px 18px,
    	rgba(0, 0, 0, 0.10) 0px 4px 8px;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 105, 180, 0.35);
}

button:active {
  transform: scale(0.97);
}